<div class="attendance-summary">
    <div class="row">
        <div class="col_7">
            <div class="box">
                <label> Days</label>
                <p>
                    <%= attendanceData.data1.length  %>
                </p>
            </div>
        </div>

        <div class="col_7">
            <div class="box">
                <label> Late</label>
                <p>0% (0 Days)</p>
            </div>
        </div>

        <div class="col_7">
            <div class="box">
                <label> Absent</label>
                <p>0% (0 Days) </p>
            </div>
        </div>

        <div class="col_7">
            <div class="box">
                <label> Half Days</label>
                <p>0</p>
            </div>
        </div>



        <div class="col_7">
            <div class="box">
                <label> Total Office</label>
               <p><%= attendanceData.data1.length*9 %>(H)</p> 
                
            </div>
        </div>

        <div class="col_7">
            <div class="box">
                <label> Total worked</label>
                <p>
                    <%= Math.floor(attendanceData.monthlyWorkHours/60) %> Hours <%= attendanceData.monthlyWorkHours%60 %> Min
                </p>
            </div>
        </div>

        <div class="col_7">
            <div class="box">
                <label> Productivity Ratio</label>
                <p>
                    <%= (parseFloat(((attendanceData.monthlyWorkHours/60)/(attendanceData.data1.length*9))*100).toFixed(2)) %> %
                </p>
            </div>
        </div>

    </div>


    <div class="table">
        <table>
            <tr style="background-color: #002f4b;">
                <th>Date </th>
                <th>Entry Time </th>
                <th>Exit time </th>
                <th>Break time </th>
                <th>Working Hours </th>


            </tr>
            <% for(i= attendanceData.data1.length-1;i>=0;i--){%>
                <tr>
                    <td>
                        <%= moment(attendanceData.data1[i].check_date).utcOffset(tz).format("YYYY-MM-DD") %>
                    </td>
                    <td>
                        <%=moment(attendanceData.data1[i].checkin_time).utcOffset(parseInt(tz)).format("hh:mm:ss")%>
                        
                    </td>
                    <td>
                        <% if(attendanceData.data1[i].checkout_time){ %>
                            <%=moment(attendanceData.data1[i].checkout_time).utcOffset(tz).format("hh:mm:ss")%>
                        <% } %>
                    </td>
                    <td>
                        <%=  Math.floor(attendanceData.monthlyBreakArr[i]/60) %> Hours <%= attendanceData.monthlyBreakArr[i]%60 %> Min
                    </td>

                    <td><span><%=  Math.floor((attendanceData.dailyWorkHoursArr[i]-attendanceData.monthlyBreakArr[i])/60) %> Hours <%= (attendanceData.dailyWorkHoursArr[i]-attendanceData.monthlyBreakArr[i])%60 %> Min</span><br />
                        <progress id="file" value="<%= attendanceData.dailyWorkHoursArr[i]-attendanceData.monthlyBreakArr[i] %>" max="540"></progress></td>

                    <%} %>




        </table>
    </div>
</div>
<script src="/js/moment.min.js"></script>