<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/2d11fdd863.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../style/dashboard.css" />
    
    <link rel="stylesheet" href="../style/hotline.css" type="text/css" />


    <title>HRMS- Dashboard</title>
</head>

<body>
    <div class="dashboard-wrapper flex flex-row">
        <div class="dashboard-right">
            <%- include('components/sidebar.ejs') %>
        </div>
        <div class="dashboard-left">
            <%- include('components/header.ejs',{name:"Hotline"}) %>

                <div class="dashboard-data-container flex flex-row">
                    <div class="hotline">
                        <div class="hotline_top">
                            
                            <div class="row">
                                <div class="col_5">

                                    <div class="box" onclick="renderOnline()">
                                        <div class="logo">
                                            <i class="fa-solid fa-users fa-2x"></i>
                                        </div>
                                        <div class="text">
                                            <label>Online</label>
                                            <p id="numberOfOnline"></p>
                                        </div>
                                    </div>
                                </div>


                                <div class="col_5">
                                    <div class="box" onclick="renderBreak()">
                                        <div class="logo">
                                            <i class="fa-solid fa-users fa-2x"></i>
                                        </div>
                                        <div class="text">
                                            <label>on Break</label>
                                            <p id="numberOfOnBreak"></p>
                                        </div>
                                    </div>
                                </div>


                               

                                <div class="col_5">
                                    <div class="box" onclick="renderOffline()">
                                        <div class="logo" >
                                            <i class="fa-solid fa-users fa-2x"></i>
                                        </div>
                                        <div class="text">
                                            <label>offline</label>
                                            <p id="numberOfOffiline"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col_5">
                                    <div class="box" onclick="renderOnLeave()">
                                        <div class="logo">
                                            <i class="fa-solid fa-users fa-2x"></i>
                                        </div>
                                        <div class="text">
                                            <label>on Leave</label>
                                            <p id="numberOfOnLeave"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        


            <div class="uses">
                <div class="row" id="row">
                    
                </div>
        </div>
    </div>
  </body>

<script>

const renderBreak =  () =>{

let row = document.getElementById('row');
    fetch(`/dashbord/breakEmployeeData`)
    .then(res=>res.json())
    .then(onBreakdata=>{
        let div =  document.createElement('div');
        let numberOfOnBreak = document.getElementById('numberOfOnBreak');
        let s = ``
        onBreakdata.forEach(data=>{
        s += `<%- include('components/hoteline-user-card.ejs',{"first_name":'${data.first_name}',"last_name":'${data.last_name}',profile_photo:"${data.profile_photo}","email":"${data.email}","status":"onBreak","phone_number": "${data.phone_number}" })%>`
        })
        numberOfOnBreak.innerText = onBreakdata.length;
    row.innerHTML = s
    
})
}
renderBreak();

const renderOffline =  () =>{

let row = document.getElementById('row');
    fetch(`/dashbord/offlineEmployeeData`)
    .then(res=>res.json())
    .then(offlinedata=>{
        let div =  document.createElement('div');
        let numberOfOffiline = document.getElementById('numberOfOffiline');
        let s = ``
        offlinedata.forEach(data=>{
        s += `<%- include('components/hoteline-user-card.ejs',{"first_name":'${data.first_name}',"last_name":'${data.last_name}',profile_photo:"${data.profile_photo}","email":"${data.email}","status":"offline","phone_number": "${data.phone_number}" })%>`
        })
        numberOfOffiline.innerText = offlinedata.length;
    row.innerHTML = s
    
})
}
renderOffline();

const renderOnLeave =  () =>{

let row = document.getElementById('row');
    fetch(`/dashbord/leaveEmployeeData`)
    .then(res=>res.json())
    .then(leavedata=>{
        let div =  document.createElement('div');
        let numberOfOnLeave = document.getElementById('numberOfOnLeave');
        let s = ``
        leavedata.forEach(data=>{
        s += `<%- include('components/hoteline-user-card.ejs',{"first_name":'${data.first_name}',"last_name":'${data.last_name}',profile_photo:"${data.profile_photo}","email":"${data.email}","status":"onLeave","phone_number": "${data.phone_number}"})%>`
        })
        numberOfOnLeave.innerText = leavedata.length;
    row.innerHTML = s
    
})
}
renderOnLeave();

const renderOnline =  () =>{

let row = document.getElementById('row');
    fetch(`/dashbord/onlineEmployeeData`)
    .then(res=>res.json())
    .then(onlinedata=>{
        let div =  document.createElement('div');
        let numberOfOnline = document.getElementById('numberOfOnline');
       
        let s = ``
        onlinedata.forEach(data=>{
        s += `<%- include('components/hoteline-user-card.ejs',{"first_name":'${data.first_name}',"last_name":'${data.last_name}',profile_photo:"${data.profile_photo}","email":"${data.email}","status":"online","phone_number": "${data.phone_number}" })%>`
        })
        numberOfOnline.innerText= onlinedata.length;
    row.innerHTML = s
    
})
}
renderOnline();

</script>

</html>