<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Application</title>
    <link rel="stylesheet" href="/style/leave-application.css">
    <link rel="stylesheet" href="/style/dashboard.css">
    <script
    src="https://kit.fontawesome.com/2d11fdd863.js"
    crossorigin="anonymous"
    ></script>
</head>
<body>
   <div class="leave-application-wrapper flex">

        <div class="dashboard-right">
            <%- include('components/sidebar.ejs') %>

        </div>
        <div class="dashboard-left">
            <%- include('components/header.ejs',{name:"Leave Application"}) %>
            
            <div class="leave-application-container flex flex-col">
                <div class="leave-cards flex flex-row">
                    <div class="leave-card-col">
                        <div class="leave-card-data leave-card-1">
                            <p><b>Casual Leaves</b></p>
                            <div class="flex leave-card-remain">
                                <p>Total- 6</p>
                                <p>Used- <%= leavesObject.cLeave %></p>
                            </div>
                        </div>
                    </div>
                    <div class="leave-card-col">
                        <div class="leave-card-data leave-card-2">
                            <p><b>Sick Leaves</b></p>
                            <div class="flex leave-card-remain">
                                <p>Total- 4</p>
                                <p>Used- <%= leavesObject.sLeave %></p>
                            </div>
                        </div>
                    </div>
                    <div class="leave-card-col">
                        <div class="leave-card-data leave-card-3">
                            <p><b>Paid Leaves</b></p>
                            <div class="flex leave-card-remain">
                                <p>Total- 6</p>
                                <p>Used- <%= leavesObject.pLeave %></p>
                            </div>
                        </div>
                    </div>
                    <div class="leave-card-col">
                        <div class="leave-card-data leave-card-4">
                            <p><b>Unplanned Leaves</b></p>
                            <div class="flex leave-card-remain">
                                <p>Total- 4</p>
                                <p>Used- <%= leavesObject.upLeave %></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <hr> -->

                <div class="leave-form-container">
                    <div class="leave-form-header">
                        <h2>Leave Application Form</h2>
                    </div>
                    <form action="/dashbord/post-leave" method="POST" onsubmit="return validateLeave()">
                        <div class="leave-application-form-container flex flex-col">
                            <div class="leave-application-top flex">
                                <div class="leave-date-container flex flex-col">
                                    <label for="leave_date">Leave Date</label>
                                    <input type="date" name="leave_date" id="leave-date"/>
                                </div>
            
                                <div class="leave-type-container flex flex-col">
                                    <label for="leave_type">Leave Type</label>
            
                                    <select name="leave_type" id="leave-type">

                                        <option value="" disabled selected hidden>Type of Leave</option>
                                        <%if(leavesObject.cLeave < 6 ){ %>
                                            <option value="CL">CL</option>
                                        <% }  %>

                                        <% if(leavesObject.pLeave < 6 ){%>
                                            <option value="PL">PL</option>
                                        <% }  %>

                                        <% if(leavesObject.sLeave < 4){%>
                                            <option value="SL">SL</option>
                                        <% }  %>

                                        <option value="UPL">UPL</option>
                                    
                                    </select>
                                </div>

                                <div class="ishalf flex">
                                        <div>
                                            <input type="radio" name="is_half" value="1">
                                            <label for="">Half Day</label>
                                        </div>
                                    <div>
                                            <input type="radio" name="is_half" value="0" checked>
                                            <label for="">Full Day</label>
                                    </div>
                                    </div>
                            </div>
                            
                        

                            <div>
                                <div class="leave-reason-container">
                                    <label for="leave_reason">Leave Reason</label>
                                    <textarea name="leave_reason" class="leave-reason-text-box" id="leave-reason-text-box" cols="20" rows="10"></textarea>
                                </div>
                            </div>
                        
                            <div class="leave-application-submit-btn-container">
                                <input id="leave-submit-btn" type="submit" value="Apply">
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="applied-leave-container">
                <table>
                    <tr class="applied-leave-table-head-tr">
                        <th>Leave Date</th>
                        <th>Leave Type</th>
                        <th>Half Or Full</th>
                        <th>Leave Status</th>
                        <th>Leave Reason</th>
                    </tr>
                    <% result.forEach((data)=>{ %>
                        <tr>
                            <td><%= data.leave_date.toJSON('dd-mm-yyyy').slice(0,10)%></td>
                            <td><%= data.leave_type%></td>
                            
                            <% if(data.is_halfday == 0){%>
                                <td>Full Day</td>
                            <% }else {%>
                                <td>Half Day</td>
                            <% } %>
                            
                            <% if(data.is_cto_approved == 0){%>
                                <td><span class="status status-pending">Pending</span></td>
                            <% } else if(data.is_cto_approved == 1){  %>
                                <td ><span class="status status-approved">Approved</span></td>
                            <% } else {%>
                                <td><span class="status status-rejected">Rejected</span></td>
                            <% } %>

                            <td><%= data.leave_reason%></td>
                        </tr>
                    <% })%>
                </table>
            </div>

        </div>
   </div>

   <script>
    let validateLeave = ()=>{
        let leaveReason = document.getElementById('leave-reason-text-box').value
        let leaveType = document.getElementById('leave-type').value
        let leaveDate = document.getElementById('leave-date').value

        if(leaveReason === "" || leaveDate === "" || leaveType === ""){
            return false
        }

    }
   </script>

</body>
</html>
